body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('todo.jpg'); /* this is for Add the background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8); /* this is to  Add a semi-transparent background */
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/*main work here*/

h1 {
    text-align:center ; /*this is done for the to-do name*/
    
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
}

/* this is for the button styling and colouring*/
button {
    padding: 5px 10px;
    background-color: #3d6793;  
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
    color: #ccc;
}
